.grid_6.alpha
  %h2 People
  - @people.each do |person|
    %a{:title => person.header[:name], :href => "/people/#{person[1][:path]}"}= person.header[:name]
.grid_6.omega
  %h2 Projects
  - @projects.each do |project|
    %a{:title => project.header[:name], :href => "/projects/#{project[1][:path]}"}= project.header[:name]