---
name: Ted Behling
---
.grid_4.alpha{:style => 'text-align: right'}
  %div{:style => 'background:whitesmoke;padding: 5px;border 1px solid lightgray;'}
    %img{:src => gravatar_img_src_for_email('ted@tedb.us'), :alt => 'Ted Behling', :style => 'float:left;padding:3px;border:1px solid darkgray;'}
  
    %h2 Ted Behling
    %p Member since 2010
.grid_8.omega
  %ul{:style => 'margin:0;padding:20px;'}
    %li
      %a{:href => 'http://github.com/tedb'} Github Projects
    %li
      %a{:href => 'http://www.linkedin.com/in/tedbehling'} Linkedin Profile
    %li
      %a{:href => 'http://twitter.com/tedbehling'} Twitter
.clear
