!!! 5
%html
  %head
    %title= 'Charleston Ruby User Group' + (attr(:title).to_s ? ' > ' + attr(:title).to_s : '')
    %link{ :href => '/stylesheets/reset.css', :rel => 'stylesheet' }
    %link{ :href => '/stylesheets/text.css', :rel => 'stylesheet' }
    %link{ :href => '/stylesheets/960.css', :rel => 'stylesheet' }

  %body
    .container_12
      %a{:title => 'Charleston Ruby User Group', :href => '/'} 
        %img{:src => '/images/charleston-ruby.gif', :alt => 'Charleston Ruby User Group'}
    {yield}